			<!-- Main -->
				<div class="wrapper style2">
					<div class="title">The Introduction</div>
					<div id="main" class="container">

						<!-- image box -->
					<div id="highlights" class="container">
						<div class="row 150%">
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a class="image featured"><img src="images/2.png" alt="timetable" /></a>
									<h3><a>Timetable</a></h3>
									<p>legend stage 이승환 <br>
										3호선버터플라이 안녕바다 양주영 </p>
									<ul class="actions">
										<li><a href="/program2" class="button style1">More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a class="image featured"><img src="images/5.jpeg" alt="" /></a>
									<h3><a>Supporters</a></h3>
									<p>라이브클럽데이 공연기획, <br> 공연보조, 아티스트 인터뷰 <br></p>
									<ul class="actions">
										<li><a href="/supporters2" class="button style1">More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="images/4-1.jpeg" alt="" /></a>
									<h3><a>Artist Service</a></h3>
									<p>조금 더 나아진, 아티스트를 위한 서비스 <br>
										아티스트 라운지 <br></p>
									<ul class="actions">
										<li><a href="/notice" class="button style1">More</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
					</div>
				</div>

			<!-- Highlights -->
				<div class="wrapper style3">
					<div class="title">Ticket</div>
					<div style="text-align:center">
					<p>티켓 예매는 인터파크, 네이버N예약에서 가능합니다.</p>
					</div>
					<ul class="actions actions-centered">
									<li><a href="http://ticket.interpark.com/Ticket/Goods/GoodsInfo.asp?GoodsCode=17003171" class="button style2 big">Interpark</a></li>
									<li><a href="https://booking.naver.com/booking/5/bizes/72247" class="button style2 big">Naver N예약</a></li>
								</ul>
				</div>

			


