			<!-- Main -->
				<div class="wrapper style2">
					<div class="title">라인업&타임테이블</div>
					<div id="main" class="container">

						<!-- Content -->
							<div id="content">
								<article class="box post">
									<header class="style1">
										<h2>매달 마지막주 금요일<br class="mobile-hide" />
										홍대 앞 무경계 음악 축제!</h2>
										<p>라이브클럽데이 LIVE CLUB DAY</p>
									</header>
									<a class="image program2">
										<img src="images/2.png" alt="타임테이블" />
									</a>
								</article>
					
							</div>

					</div>
				</div>